---
layout: layouts/base.njk
title: Architecture
stylesheet: style-photos.css
jsFile: photo.js
lightbox: true
inlineScript: false
---

<div class="gallery-header">
    <h1>{{ title }}</h1>
</div>
<div class="gallery-container">
    <div class="gallery-grid">
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/collections/Architecture/E0C1AD9B-FFCD-4D27-A7A7-AA92FBBE7051.jpeg" alt="Gallery Image 1">
            </div>            
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/collections/Architecture/IMG_9597.jpg" alt="Gallery Image 2">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/collections/Architecture/leadenhall.jpeg" alt="Gallery Image 3">
            </div>
        </div>
    </div>
</div>