---
layout: layouts/base.njk
title: France
stylesheet: style-photos.css
jsFile: photo.js
lightbox: true
inlineScript: false
---

<div class="gallery-header">
    <h1>{{ title }}</h1>
</div>
<div class="gallery-container">
    <div class="gallery-grid">
        {% for img in images['france'] %}
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ img }}" alt="Gallery Image {{ loop.index }}">
            </div>
        </div>
        {% endfor %}
    </div>
</div>