---
layout: layouts/base.njk
title: Nightmarket
stylesheet: style-photos.css
jsFile: photo.js
lightbox: true
---

<div class="gallery-header">
    <h1>{{ title }}</h1>
</div>
<div class="gallery-container">
    <div class="gallery-grid">
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/collections/Nightmarket/000086020003.jpg" alt="Gallery Image 1">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/collections/Nightmarket/000086020009.jpg" alt="Gallery Image 2">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/collections/Nightmarket/000086020014.jpg" alt="Gallery Image 3">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/collections/Nightmarket/claw.jpeg" alt="Gallery Image 4">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/collections/Nightmarket/IMG_0146.JPG" alt="Gallery Image 5">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/collections/Nightmarket/IMG_0149.JPG" alt="Gallery Image 6">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/collections/Nightmarket/IMG_0150.JPG" alt="Gallery Image 7">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/collections/Nightmarket/IMG_6688.jpeg" alt="Gallery Image 8">
            </div>
        </div>
    </div>
</div>