---
layout: layouts/base.njk
title: Photography
stylesheet: style-p.css
---

<div class="container">
    <div class="gallery">
        <div class="image-item">
            <a href="nightmarket/">
                <img src="../static/images/collections/Nightmarket/claw.jpeg" alt="Nightmarket" style="height:400px;">
            </a>
            <p class="image-title">Nightmarket (Collection)</p>
        </div>
        
        <div class="image-item">
            <a href="taiwan/">
                <img src="../static/images/collections/Taiwan/stall.jpeg" alt="Taiwan" style="height:300px">
            </a>
            <p class="image-title">Taiwan (Collection)</p>
        </div>
        
        <div class="image-item">
            <a href="dc/">
                <img src="../static/images/collections/DC/0945CAF3-4FAE-411B-8ECE-B53DAD2355F3_1_105_c (1).jpg" alt="Washington" style="height:450px">
            </a>
            <p class="image-title">Washington D.C. (Collection)</p>
        </div>
        
        <div class="image-item">
            <a href="france/">
                <img src="../static/images/collections/France/000054350007.jpg" alt="France" style="height:350px">
            </a>
            <p class="image-title">France (Collection)</p>
        </div>
        
        <div class="image-item">
            <a href="architecture/">
                <img src="../static/images/collections/Architecture/leadenhall.jpeg" alt="Architecture" style="height:380px">
            </a>
            <p class="image-title">Architecture (Collection)</p>
        </div>
    </div>
</div>