---
layout: layouts/base.njk
title: Taiwan
stylesheet: style-photos.css
jsFile: photo.js
lightbox: true
---

<div class="gallery-header">
    <h1>{{ title }}</h1>
</div>
<div class="gallery-container">
    <div class="gallery-grid">
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="../../static/images/collections/Taiwan/000024430019.jpg" alt="Gallery Image 1">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="../../static/images/collections/Taiwan/000024430021.jpg" alt="Gallery Image 2">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="../../static/images/collections/Taiwan/000086020030.jpg" alt="Gallery Image 3">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="../../static/images/collections/Taiwan/13FDEE04-1030-4AD0-8811-496C888A0B15.jpeg" alt="Gallery Image 4">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="../../static/images/collections/Taiwan/IMG_0144.JPG" alt="Gallery Image 5">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="../../static/images/collections/Taiwan/IMG_6689.jpeg" alt="Gallery Image 6">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="../../static/images/collections/Taiwan/IMG_6690.jpeg" alt="Gallery Image 7">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="../../static/images/collections/Taiwan/IMG_6691.jpeg" alt="Gallery Image 8">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="../../static/images/collections/Taiwan/IMG_6717.jpeg" alt="Gallery Image 9">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="../../static/images/collections/Taiwan/stall.jpeg" alt="Gallery Image 10">
            </div>
        </div>
    </div>
</div>