---
layout: layouts/base.njk
bodyClass: body-home
---

<div class="about-container">
    <h1>Amelie Wu</h1>
    
    <p>Filler.</p>
    
    <h2>Header</h2>
    <p>Filler.</p>
    
    <p>Filler.</p>
    
    <h2>Header</h2>
    <p>Filler.</p>
</div>

<!-- Interactive Playground -->
<div class="playground">
    <img src="{{ site.baseUrl }}static/images/homepage/normandyCliffside.jpeg" class="draggable" alt="img1">
    <img src="{{ site.baseUrl }}static/images/homepage/normandyPassage.jpeg" class="draggable" alt="img2">
    <img src="{{ site.baseUrl }}static/images/homepage/stairBackground.jpeg" class="draggable" alt="img3">
    <img src="{{ site.baseUrl }}static/images/homepage/taiwanRide.jpeg" class="draggable" alt="img4">
</div>
