---
layout: layouts/base.njk
bodyClass: body-home
---

<div class="about-container">
    <h1>AMELIE WU</h1>
    <p>Amelie is a multimedia creative in pursuit of a visual language that embodies remembrance, kinship, and the ephemeral. Through photography, design, and projects, she explores transient cityscapes, childhood memories, and all that is becoming.</p>
    <p>Alongside her creative works, she is passionate about responsive art spaces and is a strong advocate of accessible arts education. Amelie graduated from UCLA in 2025 with a B.A. in Public Affairs and Geography.</p>

    <small>Instagram: </small><a href="https://www.instagram.com/ameliejwu">@ameliejwu</a>
    <br>
    <small>Email: amelie.wu10@gmail.com</small>
</div>

<!-- Interactive Playground -->
<div class="playground">
    <img src="{{ site.baseUrl }}static/images/about me/abby.png" class="draggable" alt="img1">
    <img src="{{ site.baseUrl }}static/images/about me/amelie_grad.png" class="draggable" alt="img2">
    <img src="{{ site.baseUrl }}static/images/about me/balloon.png" class="draggable" alt="img3">
    <img src="{{ site.baseUrl }}static/images/about me/bowl.png" class="draggable" alt="img4">
    <img src="{{ site.baseUrl }}static/images/about me/Untitled-1.png" class="draggable" alt="img5">
</div>
