---
layout: layouts/base.njk
title: Backseat Zine
stylesheet: style-photos.css
jsFile: photo.js
lightbox: true
inlineScript: false
---

<div class="gallery-header">
    <h1>{{ title }}</h1>
</div>
<div class="gallery-container">
    <div class="gallery-grid">
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/backseat_zine/backseat_zine_P01.jpg" alt="Gallery Image 1">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/backseat_zine/backseat_zine_P02.jpg" alt="Gallery Image 2">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/backseat_zine/backseat_zine_P03.jpg" alt="Gallery Image 3">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/backseat_zine/backseat_zine_P04.jpg" alt="Gallery Image 4">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/backseat_zine/backseat_zine_P05.jpg" alt="Gallery Image 5">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/backseat_zine/backseat_zine_P06.jpg" alt="Gallery Image 6">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/backseat_zine/backseat_zine_P07.jpg" alt="Gallery Image 7">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/backseat_zine/backseat_zine_P08.jpg" alt="Gallery Image 8">
            </div>
        </div>
    </div>
</div>