---
layout: layouts/base.njk
title: Backseat Zine
stylesheet: style-photos.css
jsFile: photo.js
lightbox: true
inlineScript: false
---

<div class="gallery-header">
    <h1>{{ title }}</h1>
</div>
<div class="gallery-container">
    <div class="gallery-grid">
        {% for img in images['backseat_zine'] %}
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ img }}" alt="Gallery Image {{ loop.index }}" loading="lazy">
            </div>
        </div>
        {% endfor %}

        <div class="gallery-item video-item">
            <div class="gallery-image">
                <video autoplay muted loop playsinline>
                    <source src="{{ site.baseUrl }}static/images/backseat_zine/backseat_vid_small.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>