---
layout: layouts/base.njk
title: Tickets
stylesheet: style-tickets.css
inlineScript: true
---

<div class="gallery-header">
    <h1>Tickets</h1>
</div>
<div class="gallery-container">
    <div class="gallery-grid">
        <div class="gallery-item">
            <div class="flip-card">
                <div class="flip-card-front">
                    <img src="{{ site.baseUrl }}static/images/tickets/E2B6E117-1D66-42F1-A4CA-18C303C3C323_1_105_c.jpeg" alt="Ticket Front 1">
                </div>
                <div class="flip-card-back">
                    <img src="{{ site.baseUrl }}static/images/tickets/7569D4A9-EDBA-4367-BB85-E4A9D998A3F0_1_105_c.jpeg" alt="Ticket Back 1">
                </div>
            </div>
        </div>
        
        <div class="gallery-item">
            <div class="flip-card">
                <div class="flip-card-front">
                    <img src="{{ site.baseUrl }}static/images/tickets/Screenshot 2025-07-10 at 9.45.23ΓÇ»PM.png" alt="Ticket Front 2">
                </div>
                <div class="flip-card-back">
                    <img src="{{ site.baseUrl }}static/images/tickets/Screenshot 2025-07-10 at 9.45.44ΓÇ»PM.png" alt="Ticket Back 2">
                </div>
            </div>
        </div>
        
        <div class="gallery-item">
            <div class="flip-card">
                <div class="flip-card-front">
                    <img src="{{ site.baseUrl }}static/images/tickets/Screenshot 2025-07-10 at 9.46.23ΓÇ»PM.png" alt="Ticket Front 3">
                </div>
                <div class="flip-card-back">
                    <img src="{{ site.baseUrl }}static/images/tickets/Screenshot 2025-07-10 at 9.47.07ΓÇ»PM.png" alt="Ticket Back 3">
                </div>
            </div>
        </div>
        
        <div class="gallery-item">
            <div class="flip-card">
                <div class="flip-card-front">
                    <img src="{{ site.baseUrl }}static/images/tickets/Screenshot 2025-07-10 at 9.48.05ΓÇ»PM.png" alt="Ticket Front 4">
                </div>
                <div class="flip-card-back">
                    <img src="{{ site.baseUrl }}static/images/tickets/Screenshot 2025-07-10 at 9.48.19ΓÇ»PM.png" alt="Ticket Back 4">
                </div>
            </div>
        </div>
        
        <div class="gallery-item">
            <div class="flip-card">
                <div class="flip-card-front">
                    <img src="{{ site.baseUrl }}static/images/tickets/Screenshot 2025-07-10 at 9.49.08ΓÇ»PM.png" alt="Ticket Front 5">
                </div>
                <div class="flip-card-back">
                    <img src="{{ site.baseUrl }}static/images/tickets/Screenshot 2025-07-10 at 9.49.51ΓÇ»PM.png" alt="Ticket Back 5">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const galleryItems = document.querySelectorAll('.gallery-item');

    galleryItems.forEach(item => {
        item.addEventListener('click', (e) => {
            e.preventDefault();
            // Toggle the flipped state
            item.classList.toggle('flipped');
        });
    });
</script>