---
layout: layouts/base.njk
title: Videos
stylesheet: style-photos.css
lightbox: true
inlineScript: false
---

<div class="gallery-header">
    <h1>{{ title }}</h1>
</div>
<div class="gallery-container">
    <div class="gallery-grid">
        <div class="gallery-item video-item">
            <video controls>
                <source src="{{ site.baseUrl }}static/images/videos/backseat_video.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <p style="color: #717171ff; margin-top: 10px;"><em>Be Quiet and Drive (Far Away) - Visualizer</em></p>
</div>