---
layout: layouts/base.njk
title: Videos
stylesheet: style-photos.css
lightbox: true
inlineScript: false
---

<div class="gallery-header">
    <h1>{{ title }}</h1>
</div>
<div class="gallery-container">
    <div class="gallery-grid">
        {% for video in images['videos'] %}
        <div class="gallery-item video-item">
            <video controls>
                <source src="{{ video.src }}" type="video/mp4">
            </video>
            <p style="color: #717171ff; margin-top: 10px;"><em>{{ video.caption }}</em></p>
        </div>
        {% endfor %}
    </div>
</div>