---
layout: layouts/base.njk
title: Visual Design
stylesheet: style-vd.css
---

<div class="container">
    <!-- Gallery container -->
    <div class="gallery">

        <div class="image-item zine-01">
            <p class="image-title">01_Zine</p></br>
            <a href="01_zine/">
                <img src="{{ site.baseUrl }}static/images/zine icon 2.png" alt="01">
            </a>
        </div>

        <div class="image-item backseat-zine">
            <p class="image-title">Backseat Zine</p></br>
            <a href="backseat_zine/">
                <img src="{{ site.baseUrl }}static/images/zine icon.png" alt="backseat">
            </a> 
        </div>

        <div class="image-item tickets">
            <p class="image-title">Tickets</p></br>
            <a href="tickets/">
                <img src="{{ site.baseUrl }}static/images/Group 1.png" alt="tickets">
            </a>
        </div>
        
        <div class="image-item misc-graphics">
            <p class="image-title">Misc. Graphics</p></br>
            <a href="misc/">
                <img src="{{ site.baseUrl }}static/images/misc/nicole bday.png" alt="misc">
            </a>
        </div>
    </div>