---
layout: layouts/base.njk
bodyClass: body-home
---

<div class="playground">
    <img src="static/images/homepage/normandyCliffside.jpeg" class="draggable" alt="img1">
    <img src="static/images/homepage/normandyPassage.jpeg" class="draggable" alt="img2">
    <img src="static/images/homepage/stairBackground.jpeg" class="draggable" alt="img3">
    <img src="static/images/homepage/taiwanRide.jpeg" class="draggable" alt="img4">
    <img src="static/images/homepage/aquarium.jpg" class="draggable" alt="img5">
    <img src="static/images/homepage/balance.jpeg" class="draggable" alt="img6">
    <img src="static/images/homepage/taiwanCat.jpeg" class="draggable" alt="img7">
    <img src="static/images/homepage/taiwanFoodStall.jpeg" class="draggable" alt="img8">
    <img src="static/images/homepage/taiwanTrain.jpeg" class="draggable" alt="img9">
    <img src="static/images/collections/Nightmarket/000086020009.jpg" class="draggable" alt="img8">
    <img src="static/images/misc/to you cover copy.png" class="draggable" alt="img9">
    <img src="static/images/misc/nicole bday.png" class="draggable" alt="img10">
    <img src="static/images/tickets/Screenshot 2025-07-10 at 9.47.07ΓÇ»PM.png" class="draggable" alt="img11">
    <img src="static/images/tickets/Screenshot 2025-07-10 at 9.49.51ΓÇ»PM.png" class="draggable" alt="img12">
    <img src="static/images/collections/Taiwan/000024430019.jpg" class="draggable" alt="img13">
    <img src="static/images/misc/poster.jpeg" class="draggable" alt="img14">
</div>