---
layout: layouts/base.njk
title: Visual Design
stylesheet: style-vd.css
---

<div class="container">
    <div class="gallery">

        <div class="image-item clothing">
            <p class="image-title">Clothing</p></br>
            <a href="clothing/">
                <img src="{{ site.baseUrl }}static/images/clothing/Tops/2.jpg" alt="clothes" loading="lazy">
            </a>
        </div>

        <div class="image-item web-design">
            <p class="image-title">Web Design</p></br>
            <a href="web_design/">
                <img src="{{ site.baseUrl }}static/images/web_design/1Home.png" alt="raine_site" loading="lazy">
            </a> 
        </div>

    </div>