---
layout: layouts/base.njk
title: Clothing
stylesheet: style-photos.css
jsFile: photo.js
lightbox: true
inlineScript: false
---

<div class="gallery-header">
    <h1>{{ title }}</h1>
</div>
<div class="gallery-container">
    <div class="gallery-grid">
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Tops/1.jpg" alt="Gallery Image 1">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Tops/2.jpg" alt="Gallery Image 2">
            </div> 
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Tops/3.jpg" alt="Gallery Image 3">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Tops/4.jpg" alt="Gallery Image 4">
            </div>
        </div>     
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Tops/5.jpg" alt="Gallery Image 5">
            </div>
        </div>   
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Tops/6.jpg" alt="Gallery Image 6">
            </div>
        </div>  
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Tops/7.jpg" alt="Gallery Image 7">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Tops/8.jpg" alt="Gallery Image 8">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Tops/9.jpg" alt="Gallery Image 9">
            </div>
        </div>             
    </div>
    <div class="gallery-grid-2">
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Tops/10.jpg" alt="Gallery Image 10">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Tops/11.jpg" alt="Gallery Image 11">
            </div>
        </div>      
    </div>

<br>

    <div class="gallery-grid">
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Flower Skirt/1.JPG" alt="Gallery Image 1">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Flower Skirt/2.JPG" alt="Gallery Image 2">
            </div>
            
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Flower Skirt/3.jpeg" alt="Gallery Image 3">
            </div>
        </div>                 
    </div>

<br>

    <div class="gallery-grid">
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Bubble Skirt/1.jpg" alt="Gallery Image 1">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Bubble Skirt/2.jpg" alt="Gallery Image 2">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Bubble Skirt/3.jpg" alt="Gallery Image 3">
            </div>
        </div>                 
    </div>

    <br><br>

    <div class="gallery-grid-2">
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Star Top/1.jpg" alt="Gallery Image 1">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Star Top/2.jpg" alt="Gallery Image 2">
            </div>
        </div>   
    </div>

    <br>
    
    <div class="gallery-grid-2">
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Grad/IMG_4315.jpg" alt="Gallery Image 1">
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-image">
                <img src="{{ site.baseUrl }}static/images/clothing/Grad/IMG_4567.jpeg" alt="Gallery Image 2">
            </div>
        </div>   
    </div>

</div>